
:root{
    --orange:#e67e22;
    --black:#111;
    --header_title_mini:#eee;
    --header_bg:#fff;
    --header_btn_bd:#eee;
    --header_btn_color:#111;
    --header_btn_hover:#fff;
    --header_lable_color:#777;
    --header_lable_hover:coral;
    --header_lable_bg_hover:#ffffff;
    --header_lable_bg:#f1f1f1;
    --label_border:#fff;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --bg:#eee;
    --float_btn_bg:#fff;
}



* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

body .shell {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .shell-main-footer {
  width: 100%;
  position: relative;
  height: 100px;
  transform: translateY(100px);
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  align-items: center;

  font: 100 30px 'font';
}
body .shell-main-nav ul .nav-box {
    left: 120px;
}

body .shell-main {
    margin-bottom: 0;
}
body .shell-main-nav{
    margin-bottom: 0;
}

.title{
    position: absolute;
    top:8vh;
    height:7vh;
    color:cornflowerblue;
    font-weight:700;
    font-size: 25px;
}
.images {
    width: 90%;
    column-count: 4;
    column-gap: 20px;
    margin-top: 15vh;
    
    position: relative;
}
.images::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 500px;
    z-index: -9;
}
.images div {
    margin-bottom: 15px;
    overflow: hidden;

    box-sizing: border-box;
}

.images img {
    width: 100%;
    transition: .3s;
    border: 2px solid rgba(1,1,99,.4);
    opacity: 0.8;
}

.images img:hover {
    transform: scale(1.2);
    opacity: 1;
}

@media (max-width:1200px) {
    .images {
        column-count: 4;
    }
}

@media (max-width:850px) {
    .images {
        column-count: 3;
    }
    .image {
        width: 100vw;
        margin-top: 7vh;
        position: fixed;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
        display: none;
    }
    .image img {

        width:97vh;
    }
}

@media (max-width:600px) {
    .images {
        column-count: 2;
    }
    .image {
        width: 100vh;
        margin-top: 7vh;
        position: fixed;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;

        display: none;
        
    }
    .image img {

        width:97%;
    }
}

.image {
    width: 100vw;
    height: 93vh;
    margin-top: 7vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
}

@media screen and (min-width:850px) {
    .image img {
        height: 97%;
    }
}
